body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1, h2, h3 {
    color: #0056b3;
}

.imagen-mru {
    width: 400px; /* Cambia el tamaño a 300 píxeles */
    height: auto; /* Mantiene la relación de aspecto */
}

h1 {
    text-align: center;
}

.conceptos_mru, .concepto_murv {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.conceptos_mru img, .concepto_murv img {
    max-width: 100%;
    border-radius: 8px;
    margin: 10px 0;
}

.formula {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input[type="number"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0056b3;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #004494;
}

p {
    margin: 10px 0;
}

#result {
    font-weight: bold;
    margin-top: 10px;
}
